body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #a5e7f5;
    color: #2e2a5c;
    font-weight: bold;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
}

header img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: auto;
}

header nav ul {
    display: flex;
    gap: 20px;
}

nav {
    display: flex;
    align-items: center;
    position: relative;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.menu li {
    margin: 0;
}

.menu li a:hover {
    color: #000;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: #2e2a5c;
    font-size: 24px;
    cursor: pointer;
}

.fab.fa-github {
    font-size: 32px;
    color: #2e2a5c;
    transition: color 0.3s ease;
}

.fab.fa-github:hover {
    color: #000;
}

.linkedin-link {
    font-size: 32px; 
    color: #2e2a5c; 
    margin: 0 10px; 
}

.linkedin-link:hover {
    color: #000; 
}

section {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.perfil .imagem {
    border-radius: 15px;
    max-width:250px;
    max-height:250px;
    width: 100%;
    height: auto;
    
}

.perfil .imagem img {
    width: 100%;
    height: 100%;
    display: block;
}

.sobre {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px 0;
}

.sobre .mim {
    flex: 0 0 45%;
    padding-right: 20px;
}

.sobre .mim p {
    margin-bottom: 10px;
    text-align: justify;
}

.sobre .habilidades h1 {
    text-align: center;
}

#projetos {
    flex: 1;
}

.projetos .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.projetos .card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.projetos .card a {
    display: inline-block;
    margin-top: 10px;
    color: #00bcd4;
}

footer {
    display: flex;
    background: #a5e7f5;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
}

footer .logoDBF{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 80px;
    display: inline-block;
    margin: 0 auto;
}